name: tooweeks_thing
description: "A thing in two weeks"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  yaml: ^3.1.3
  sqflite: ^2.4.2
  sqflite_common_ffi: ^2.4.0+1
  path_provider: ^2.1.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/bootstrap_data.yaml
